# Maven
target/
*.jar
*.war
*.ear
*.zip
dependency-reduced-pom.xml

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.class
*.log

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Project specific
server/
/plugins/*/target/
